extends base

block content
    main.main
        .card-container
            each product in products
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src='/img/products/' + product.imageCover alt= product.name)
                        h3.heading-tertirary
                            span= product.name

                    .card__details
                        h4.card__sub-heading #{product.stage}
                        p.card__text #{product.summary}
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-map-pin')
                            span #{product.description}
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-calendar')
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-flag')
                            span #{product.guarantee} stops
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-user')
                            span #{product.installation} people

                    .card__footer
                        p
                            span.card__footer-value $#{product.price}
                            | 
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value #{product.ratingsAverage}
                            | 
                            span.card__footer-text rating (#{product.ratingsQuantity}) 
                        a.btn.btn--green.btn--small(href=`/product/${product.slug}`) Details